<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- elementos del slider-->
    <!-- Init Skitter -->
  <script type="text/javascript" language="javascript">
    $(document).ready(function() {
      $('.skitter-large').skitter({
        responsive: {
          small: {
            animation: 'fade',
            max_width: 768,
            suffix: '-small'
          },
          medium: {
            animation: 'directionRight',
            max_width: 1024,
            suffix: '-medium'
          }
        }
      });
    });
  </script>
<!--termina elementos del slider-->


    <title></title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/small-business.css" rel="stylesheet">
</head>
<body>
    <!-- Page Content -->
    <br>
    <div class="container">
        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">

              <!-- start slider -->
      <div id="page">

        <div id="content" class="responsive">
          <div class="skitter-large-box">
            <div class="skitter skitter-large with-dots">
              <ul>
                <li><a href="/show?id=8"><img src="https://drive.google.com/open?id=0By05hpY17W8jaW9uOVpwS2xJV0U" class="circles" class="img-responsive" /></a><div class="label_text"><p>El Museo de la Independencia se localiza dentro de un inmueble construido a finales del siglo XVIII por el filántropo don Francisco Miguel González, para establecer la primera cárcel de la Congregación de Nuestra Sra. De los Dolores. <a href="/show?id=8" class="btn btn-small btn-yellow">Más información</a></p></div></li>
                <li><a href="/show?id=10"><img src="https://drive.google.com/open?id=0By05hpY17W8jOVpmVDJPT28zR0k" class="circlesInside" class="img-responsive" /></a><div class="label_text"><p>El Museo Bicentenario cuenta con un total de 827 piezas de la celebración del primer centenario de la Independencia, entre las que destacan joyas, armas, música, retratos, fotografías de edificios y uniformes. <a href="/show?id=10" class="btn btn-small btn-yellow">Más información</a></p></div></li>
                <li><a href="/show?id=10"><img src="https://drive.google.com/open?id=0By05hpY17W8jVlA3aGNMVXJ6LVU" class="circlesRotate" class="img-responsive" /></a><div class="label_text"><p>Durante la Guerra de Independencia la casa fue ocupada por diversos bandos y se dice, saqueada en varias ocasiones. <a href="/show?id=10" class="btn btn-small btn-yellow">Más información</a></p></div></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
                  <!-- end slider -->
                <!--<img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt=""> -->
            </div>
            <!-- /.col-md-8 -->
            

            <div class="col-md-4">
                <h1>Museos en la ciudad de Dolores Hidalgo</h1>
                <p>Esta aplicación te permitira echar un vistazo a los museos que existen en Dolores Hidalgo C.I.N. De una forma diferente nunca antes vista en este tipo de atracciónes!!</p>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <hr>
        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center" style="background-color: #A65300;">
                    Dolores Hidalgo Cuna de la Independencia Nacional es un lugar lleno de riquezas culturales que tu puedes apreciar en sus museos!
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        
        <!-- /.row -->

        <!-- Footer -->
        <br>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p style="text-align: center;">Copyright &copy; MuseosDoloresHidalgo</p>
                </div>
            </div>
        </footer>

    
    <!-- /.container -->


</body>

</html>
