<div class="container">
    <h1>Crea un nuevo Museo</h1>
  <div class="row">
    <div class="col-md-6">
    <%= render 'form', pet: @pet %>
    </div>
  </div>
   <p> <%= link_to 'Regresar', pets_path, :class => "btn btn-primary", :style => "color: white" %></p>
</div>
