<div class="container">
    <h1>Nueva Efemeride</h1>
  <div class="row">
    <div class="col-md-6">
  		<%= render 'form', efemeride: @efemeride %>
  		<%= link_to 'Salir', efemerides_path, :class => "btn btn-primary", :style => "color: white" %>
    </div>
    <br>
    <hr>
    <br>    
  </div>

</div>
