<div class="container well">
  <h2><center>Museos Dolores Hidalgo</center></h2>
</div>

<div id="footer">
    <div class="container">
        <div class="row">
            <center><h3 class="footertext">Copyright 2017</h3> </center>

    	</div>
	</div>
</div>