<div class="container">
    <h1>Crear evento</h1>
  <div class="row">
    <div class="col-md-6">
    <%= render 'form', event: @event %>
    </div>
  </div>
   <p> <%= link_to 'Salir', events_path %> </p>
</div>
