// United 3.3.7
// Bootswatch
// -----------------------------------------------------

$navbar-default-bg:red; // variable initializing

$web-font-path: "https://fonts.googleapis.com/css?family=Ubuntu:400,700" !default;
@import url($web-font-path);

// Navbar =====================================================================

.navbar {

  &-default {

    .badge {
      background-color: #fff;
      color: $navbar-default-bg;
    }
  }


}



// Buttons ====================================================================

// Typography =================================================================

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================