<div class="container">
    <h1>Crea un nuevo Horario</h1>
  <div class="row">
    <div class="col-md-6">
    <%= render 'form', precio: @precio %>
    </div>
  </div>
   <p> <%= link_to 'Back',  show_path(:id => @pet.id) %> </p>
</div>
